<footer class="footer" id="footer">
    <div class="boxContainer">
        <div class="box">
            <h3>nossas filiais</h3>
            <a href="#" class="fas fa-map-marker-alt">  Brasil</a>
            <a href="#" class="fas fa-map-marker-alt">  USA</a>
            <a href="#" class="fas fa-map-marker-alt">  Russia</a>
            <a href="#" class="fas fa-map-marker-alt">  França</a>
            <a href="#" class="fas fa-map-marker-alt">  Japão</a>
        </div>
        <div class="box">
            <h3>atalhos</h3>
            <a href="#home" class="fas fa-arrow-right">  home</a>
            <a href="#products" class="fas fa-arrow-right">  produtos</a>
            <a href="#about" class="fas fa-arrow-right">  sobre</a>
            <a href="#arrivals" class="fas fa-arrow-right">  novidades</a>
            <a href="#contact" class="fas fa-arrow-right">  contato</a>
            <a href="#blogs" class="fas fa-arrow-right">  blogs</a>
        </div>
        <div class="box">
            <h3>Entre em contato</h3>
            <a href="#" class="fas fa-phone">  (99)9999-9999</a>
            <a href="#" class="fas fa-phone">  (11)1111-1111</a>
            <a href="#" class="fas fa-envelope">  email@email.com</a>
            <a href="#" class="fas fa-map-marker-alt">  Rua, nº, cidade, estado, país</a>
        </div>
        <div class="box">
            <h3>nossas mídias sociais</h3>
            <a href="#"><i class="fab fa-facebook-f">  facebook</i></a>
            <a href="#"><i class="fab fa-twitter">  twitter</i></a>
            <a href="#"><i class="fab fa-instagram">  instagram</i></a>
            <a href="#"><i class="fab fa-linkedin">  linkedin</i></a>
            <a href="#"><i class="fab fa-pinterest">  pinterest</i></a>
        </div>
    </div>
    <div class="credits">desenvolvido por <span>Willian .G</span></div>
</footer>