<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head/index')%>

    <body>

        <%- include('../partials/header/index')%>
            <h1>Aqui é a Home</h1>
            <%- include('../partials/footer/index.ejs')%>
    </body>

</html>