<section class="contact" id="contact">
    <h1 class="heading">entre em <span>contato</span></h1>
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.7447750916967!2d-49.23031958483089!3d-25.379868937130144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce67c94151351%3A0xac653ead3598f845!2sAv.%20Paran%C3%A1%20-%20Santa%20C%C3%A2ndida%2C%20Curitiba%20-%20PR!5e0!3m2!1spt-PT!2sbr!4v1648132657319!5m2!1spt-PT!2sbr"
            allowfullscreen="" loading="lazy"></iframe>

        <form action="">
            <h3>diga-nos a sua opinião</h3>
            <input type="text" placeholder="Seu nome" class="box">
            <input type="email" placeholder="Seu email" class="box">
            <input type="phone" placeholder="Seu telefone" class="box">
            <textarea placeholder="sua mensagem" class="box" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar mensagem" class="btn">
        </form>
    </div>
</section>