<section class="blogs" id="blogs">
    <h1 class="heading">nosso <span>blog</span></h1>
    <div class="boxContainer">
        <div class="box">
            <div class="image">
                <img src="/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Assunto do blog</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, mollitia!</p>
                <a href="#" class="btn">Saiba mais</a>
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i>1/5/2022</a>
                    <a href="#"><i class="fas fa-user"></i>escrito por administrador</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Assunto do blog</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, mollitia!</p>
                <a href="#" class="btn">Saiba mais</a>
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i>1/5/2022</a>
                    <a href="#"><i class="fas fa-user"></i>escrito por administrador</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Assunto do blog</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, mollitia!</p>
                <a href="#" class="btn">Saiba mais</a>
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i>1/5/2022</a>
                    <a href="#"><i class="fas fa-user"></i>escrito por administrador</a>
                </div>
            </div>
        </div>

    </div>
</section>