@import "global";
@import "../../src/views/partials/header/header";
@import "../../src/views/partials/footer/footer";
@import "../../src/views/partials/homesection/homeSection";
@import "../../src/views/partials/productSection/productSection";
@import "mediaQueries";