@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@-webkit-keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #141215;
}

html::-webkit-scrollbar-thumb {
  background: #ef7819;
}

body {
  overflow-x: hidden;
  background: #141215;
}

section,
footer {
  padding: 2rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  background: #fff;
  color: #141215;
  cursor: pointer;
}

.btn:hover {
  background: #ef7819;
  color: #fff;
  letter-spacing: 0.1rem;
}

.heading {
  font-size: 4rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.heading span {
  color: #ef7819;
}

.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
}

.header.active {
  padding: 2rem 9%;
  background: #222;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.header .logo i {
  padding-right: 0.5rem;
  color: #ef7819;
  -webkit-animation: floating 4s linear infinite;
          animation: floating 4s linear infinite;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover, .header .navbar a.active {
  color: #ef7819;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #ef7819;
}

.header #menuBtn {
  display: none;
}

.header .searchForm {
  position: absolute;
  top: 115%;
  right: -100%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.header .searchForm.active {
  right: 2rem;
  opacity: 1;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.header .searchForm input {
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: #141215;
  text-transform: none;
}

.header .searchForm label {
  font-size: 1.6rem;
  padding-right: 1.5rem;
  color: #141215;
  cursor: pointer;
}

.header .searchForm label:hover {
  color: #ef7819;
}

.footer {
  background: #000;
}

.footer .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .boxContainer .box {
  /*  .fa-map-marker-alt::before,
            .fa-arrow-right::before,
            .fa-phone::before,
            .fa-envelope::before,
            .fa-facebook-f::before,
            .fa-twitter::before,
            .fa-instagram::before,
            .fa-linkedin::before,
            .fa-pinterest::before {
                padding-right: 0.5rem;
            } */
}

.footer .boxContainer .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .boxContainer .box a,
.footer .boxContainer .box i {
  padding-left: 0.5rem;
  color: #ef7819;
}

.footer .boxContainer .box a {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .boxContainer .box a:hover i {
  padding-right: 2rem;
  color: #ef7819;
}

.footer .credits {
  padding: 1rem;
  padding-top: 2.5rem;
  border-top: 0.1rem solid #fff3;
  color: #aaa;
  font-size: 2rem;
  text-align: center;
}

.footer .credits span {
  color: #ef7819;
}

.home {
  padding: 0;
}

.home .homeSlider {
  width: 100%;
}

.home .homeSlider:hover .swiper-button-next,
.home .homeSlider:hover .swiper-button-prev {
  opacity: 1;
}

.home .homeSlider .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .homeSlider .box.swiper-slide-active .content > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.home .homeSlider .box .content {
  text-align: center;
}

.home .homeSlider .box .content > * {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
}

.home .homeSlider .box .content h3 {
  font-size: 5rem;
  color: #fff;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.home .homeSlider .box .content p {
  font-size: 3rem;
  color: #fff;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  padding: 1rem 0;
}

.home .homeSlider .box .content .button {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.home .homeSlider .swiper-button-next,
.home .homeSlider .swiper-button-prev {
  color: #fff;
  opacity: 0;
}

.home .homeSlider .swiper-button-next:hover,
.home .homeSlider .swiper-button-prev:hover {
  color: #ef7819;
}

.home .homeSlider .swiper-button-next {
  padding-right: 4rem;
}

.home .homeSlider .swiper-button-prev {
  padding-left: 4rem;
}

.products .productsSlider .box {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.products .productsSlider .box:hover .icons {
  right: 1rem;
}

.products .productsSlider .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products .productsSlider .box .icons {
  position: absolute;
  top: 1rem;
  right: -6rem;
  z-index: 1;
}

.products .productsSlider .box .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #141215;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin-top: 1rem;
}

.products .productsSlider .box .icons a:hover {
  background: #ef7819;
  color: #fff;
}

.products .productsSlider .box .image {
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.products .productsSlider .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .productsSlider .box .content {
  padding: 1rem 0;
}

.products .productsSlider .box .content h3 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
}

.products .productsSlider .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

.products .productsSlider .box .content .price span {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ef7819;
  text-decoration: line-through;
}

.about {
  background: url(/image/about-bt.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.about .content {
  padding: 25rem 0;
  max-width: 50rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #ef7819;
}

.about .content p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
}

.arrivals .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 1.5rem;
}

.arrivals .boxContainer .box {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.arrivals .boxContainer .box:hover .icons {
  right: 1rem;
}

.arrivals .boxContainer .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.arrivals .boxContainer .box .icons {
  position: absolute;
  top: 1rem;
  right: -6rem;
  z-index: 1;
}

.arrivals .boxContainer .box .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #141215;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin-top: 1rem;
}

.arrivals .boxContainer .box .icons a:hover {
  background: #ef7819;
  color: #fff;
}

.arrivals .boxContainer .box .image {
  height: 60rem;
  width: 100%;
  overflow: hidden;
}

.arrivals .boxContainer .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals .boxContainer .box .content {
  padding: 1rem 0;
}

.arrivals .boxContainer .box .content h3 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
}

.arrivals .boxContainer .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

.arrivals .boxContainer .box .content .price span {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ef7819;
  text-decoration: line-through;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  text-align: center;
  background: #222;
}

.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #fff;
}

.contact .row form .box {
  width: 100%;
  padding: 1rem 1.2rem;
  background: #141215;
  color: #fff;
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 1.5rem;
}

.blogs .boxContainer .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blogs .boxContainer .box .image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blogs .boxContainer .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .boxContainer .box .content {
  padding: 2rem;
  background: #222;
}

.blogs .boxContainer .box .content h3 {
  font-size: 2.5rem;
  color: #ef7819;
  line-height: 1.8;
}

.blogs .boxContainer .box .content p {
  line-height: 2;
  color: #fff;
  font-size: 1.5rem;
}

.blogs .boxContainer .box .content .icons {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #fff3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .boxContainer .box .content .icons a,
.blogs .boxContainer .box .content .icons i {
  padding-right: 0.5rem;
}

.blogs .boxContainer .box .content .icons a {
  font-size: 1.4rem;
  color: #ef7819;
}

.blogs .boxContainer .box .content .icons a:hover {
  color: #fff;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  .header #menuBtn {
    display: inline-block;
  }
  .header .searchForm {
    width: 90%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .homeSlider .swiper-button-next,
  .home .homeSlider .swiper-button-prev {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */