.home {
    padding: 0;
    .homeSlider {
        .box {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            background-size: cover;
            background-position: center;
            &:nth-child(1) {
                background: url(/image/home-slider-1.jpg);
            }
            &:nth-child(2) {
                background: url(/image/home-slider-2.jpg);
            }
            &:nth-child(3) {
                background: url(/image/home-slider-3.jpg);
            }
            .content {
                text-align: center;
                transform: translateY(2rem);
                /* opacity: 0; */
                h3 {
                    font-size: 5rem;
                    color: #fff;
                    transition-delay: 0.2s;
                }
                p {
                    font-size: 3rem;
                    color: #fff;
                    transition-delay: 0.2s;
                    padding: 1rem 0;
                }
                .button {
                    transition-delay: 0.6s;
                }
            }
        }
    }
}