<section class="home" id="home">
    <div class="swiper homeSlider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box" style="background: url(/image/home-slider-1.jpg);">
                <div class="content">
                    <h3>Feliz Halloween</h3>
                    <p>descontos especiais</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box" style="background: url(/image/home-slider-2.jpg);">
                <div class="content">
                    <h3>ofertas até 30% de desconto</h3>
                    <p>para todos os clientes</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box" style="background: url(/image/home-slider-3.jpg);">
                <div class="content">
                    <h3>oferta limitada</h3>
                    <p>não perca</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>