<section class="home" id="home">
    <div class="homeSlider">
        <div class="wrapper">
            <div class="box">
                <div class="content">
                    <h3>Feliz Halloween</h3>
                    <p>descontos especiais</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <h3>ofertas até 30% de desconto</h3>
                    <p>para todos os clientes</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <h3>oferta limitada</h3>
                    <p>não perca</p>
                    <div class="button">
                        <a href="#" class="btn">Comprar agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>