<section class="products" id="products">
    <h1 class="heading">nossos <span>produtos</span></h1>
    <div class="swiper productsSlider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">
                    <img src="/image/product-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Produto</h3>
                    <div class="price">$00.00 <span>$00.00</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">
                    <img src="/image/product-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Produto</h3>
                    <div class="price">$00.00 <span>$00.00</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">
                    <img src="/image/product-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Produto</h3>
                    <div class="price">$00.00 <span>$00.00</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">
                    <img src="/image/product-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Produto</h3>
                    <div class="price">$00.00 <span>$00.00</span></div>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
                <div class="image">
                    <img src="/image/product-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Produto</h3>
                    <div class="price">$00.00 <span>$00.00</span></div>
                </div>
            </div>

        </div>
    </div>
</section>