.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $strongBlack;
    .logo {
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        i {
            padding-right: 0.5rem;
            color: $mainColor;
            animation: floating 4s linear infinite;
        }
    }
    .navbar {
        a {
            font-size: 1.7rem;
            color: #fff;
            margin: 0 1rem;
            &:hover,
            &.active {
                color: $mainColor;
            }
        }
    }
    .icons {
        a,
        div {
            font-size: 2.5rem;
            color: #fff;
            margin-left: 2rem;
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
    #menuBtn {
        display: none;
    }
    .searchForm {
        position: absolute;
        top: 115%;
        right: -100%;
        background: #fff;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        opacity: 0;
        &.active {
            right: 2rem;
            opacity: 1;
            transition: .4s linear;
        }
        input {
            width: 100%;
            padding: 0 1.5rem;
            font-size: 1.6rem;
            color: $black;
            text-transform: none;
        }
        label {
            font-size: 1.6rem;
            padding-right: 1.5rem;
            color: $black;
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
}