<header class="header">
    <a href="#" class="logo"><i class="fas fa-ghost"></i>Logo</a>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#products">produtos</a>
        <a href="#about">sobre</a>
        <a href="#arrivals">novidades</a>
        <a href="#contact">contato</a>
        <a href="#blogs">blogs</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menuBtn"></div>
        <div class="fas fa-search" id="searchBtn"></div>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

    <form action="" class="searchForm">
        <input type="search" placeholder="Pesquise aqui..." id="inputbox">
        <label for="inputBox" class="fas fa-search"></label>
    </form>
</header>