.about {
    background: url(/image/about-bt.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .content {
        padding: 25rem 0;
        max-width: 50rem;
        h3 {
            font-size: 3rem;
            color: $mainColor;
        }
        p {
            font-size: 1.5rem;
            color: #fff;
            line-height: 2;
        }
    }
}