<section class="about" id="about">
    <div class="content" data-aos="fade-right">
        <h3>Sobre nós</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsum, voluptatem repellat, beatae quo, reiciendis nisi voluptates accusantium doloribus asperiores et! Saepe non vero sunt sequi dolores incidunt odio voluptas!</p>
        <a href="#" class="btn">Saiba mais</a>
    </div>
</section>